<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @semester.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @semester.end_date %>
</p>

<p>
  <b>Min percentage:</b>
  <%= @semester.min_percentage %>
</p>
